* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'BalsamiqSans', sans-serif;
}

@font-face {
  font-family: balsamiqSans;
  src: url(assets/BalsamiqSans-Regular.ttf);
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

::-webkit-scrollbar-track {
  background: transparent;
}

*::selection {
  background: transparent;
}

.heading {
  padding-top: 10px;
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: xx-large;
  word-spacing: 10px;
}

.list {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 85vh;
  background: #dfdfdf;
  margin-block: 10px;
  padding: 2%;
  border-radius: 10px;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: #000;
}

.variables a {
  display: flex;
  align-items: center;
}


summary {
  width: 100%;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  border: 1px solid #000;
}

details {
  border-radius: 10px;
  background: #fff;
  margin-bottom: 10px;
  overflow: hidden;
}

.subTopics>p {
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
  padding: 3px;
  align-self: center;
}

.vr-sc,
.dec-var {
  border-radius: 0;
}

.scopes {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.scopes>p,
.dec-var>p,
.dt-p>p,
.dt-cdt>p {
  width: 0;
  background: #dfdfdf;
}

.vr-sc[open]>.scopes>p,
.dec-var[open]>p,
.dt-p[open]>p,
.dt-cdt[open]>p {
  animation: animateWidth 1s 0.2s forwards;
}

.subTopics>p::before {
  content: '';
  position: absolute;
  width: 0;
  height: 20px;
  background: #DFDFDF;
  z-index: -1;
  transition: all 0.7s ease-out;
}

.dec-var[open],
.vr-sc>summary,
.vr-sc[open],
.dt-p[open],
.dt-cdt[open] {
  border: none;
}

.dt-p,
.dt-cdt {
  width: 80%;
}

.dec-var>p,
.dt-p>p,
.dt-cdt>p {
  margin: 5px 0 5px 15%;
}

details[open]>summary {
  border: none;
  background: #fff;
}

details[open] {
  border: 1px solid #000;
}

@keyframes animateWidth {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

details[open]>.subTopics>p::before {
  animation: animateWidth 1s 0.2s forwards;
  transition: all 1s ease;
}

summary>a {
  font-size: 20px;
  font-weight: 600;
}

.intro,
.var,
.dt {
  font-size: 18px;
  font-weight: 500;
}

.cdt,
.dv,
.primitives {
  width: auto;
  margin: 0 0 5px 15%;
  padding: 0;
  background: #fff;
  border: none;
}

.dv {
  margin-left: 0;
}

.cdt,
.primitives>span {
  font-weight: 400;
}

.dt-cdt {
  padding-bottom: 15px;
}

.subTopics {
  padding: 10px 15%;
}

.dt-p {
  padding-top: 10px;
}

.dt-p>p,
.dt-cdt>p {
  margin-left: 20%;
  font-weight: 500;
}

.fa-arrow-up-right-from-square {
  position: absolute;
  right: 3%;
  font-size: 20px;
  top: 25%;
}

.primitives p {
  display: flex;
  margin-right: 7px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 25px;
  }

  .list {
    width: 350px;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 20px;
  }

  .list {
    width: 300px;
  }
}